# Игнорировать папку с результатами Allure
allure-results/
allure-result
allure-2.32.0
./.idea

# Игнорировать временные файлы и папки
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальные окружения
venv/
.env/
